html {
    height: 100%;
  }
  body {
    min-height: 100%;
  }

.card-body{
 border-radius:12px; 
 width:400px;
 margin: auto;
 display:flex;
 height:100%;
 box-sizing: auto;
}


.input{
width:200px;
border-radius:12px;
margin:auto;
}
.jum{
margin: auto;
height:700px;    
width:100%
}
.cont{
height: 100%;    
width:100%;
box-sizing:border-box;
}

.button{
 border-radius:12px;
 margin:auto;
    
}
.footer{
margin:auto;
height:5vw;
box-sizing: border-box;    
}

